#root {
  text-align: center;
  width: 100%;
  /* display: flex;
  height: 100vh;
  flex-direction: column;
  width: 100%; */
}

.wrapper {
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Stack children vertically */
  height: 100vh;
}

.header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.body {
  flex: 1; /* Grow to fill remaining space */
  padding: 20px; /* Add some padding */
  background-color: #f0f0f0;
}

.footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
